@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* one style shared more elements */
.flex{
    display: flex;
}

main > section{
    margin-top: 130px;
}

.section-title{
    font-weight: bold;
    font-size: 2.8rem;
    color: #131313;
}

/* Some color will used more places  */

.text-gray{
    color: #424242;
}

.text-light-gray{
    color: #727272;
}

.bg-color{
    background-color: rgba(255, 144, 14, 0.1);
}

.primary-btn{
    background-color: #FF900E;
    width: 11.2rem;
    height: 4rem;
    padding: 20px 25px;
    color: white;
    border-radius: 8px;
    font-weight: 600;
    font-size: 1.25rem;
    border: none;
}


/* style for header items */

/* style for header nav  */

.navbar{
    justify-content: space-between;
    align-items: center;
}

.brand-name{
    font-weight: bold;
    font-size: 2.8rem;
    color: #131313;
}

.nav-item{
    list-style: none;
    margin-right: 30px;
}

.nav-link{
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
}

.navbar, .banner, main{
    max-width: 1440px;
    margin: 0 auto;
}

.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-title{
    font-weight: bold;
    font-size: 4rem;
}

.banner-image{
    width: 100%;
}



/* style for Features sections  */

.features-section{
    align-items: center;
}

.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.team-features-container{
    max-width: 33rem;
    max-height: 19rem;
    margin-left: 74px;
}

#modify-1{
    color: #727272;
    font-weight: 500;
    font-size: 2.8rem;
}

#modify-2{
    color: #131313;
    font-weight: bold;
    font-size: 2.8rem;
}

#modify-3{
    color: #FF900E;
    font-weight: bold;
    font-size: 2.8rem;
}


/* style for features section 2  */

.left-design{
    width: 5px;
    height: 106px;
    background-color: #FF900E;
    margin-top: 43px;
    margin-right: 20px;
}

.title-for-section-2{
    display: flex;
}


/* some facts  */

.facts-models{
    display: flex;
    justify-content: space-between;
}

.fact{
    text-align: center;
    border: 2px solid #FF900E ;
    padding: 20px;
    border-radius: 10px;
}






/* Responsive for Banner  */

@media screen and (max-width:576px) {
    .flex{
        flex-direction: column;
    }

    .team-img-container{
        grid-template-columns: repeat(1, 1fr);
    }

    .team-features-container{
        margin: 40px auto;
    }
}



/* Responsive for tablet  */

@media screen and (min-width: 576px) and (max-width: 768px) {
    .flex{
        flex-direction: column;
    }

    .team-features-container{
        margin: 40px auto;
    }
}